  <table style="width:800px; margin:0 auto;" mat-table class="container">
    <!-- Position Column -->
   <ng-container matColumnDef="position" class="input">
     <th mat-header-cell ># </th>
    </ng-container>
   <!-- Name Column -->
   <ng-container matColumnDef="name" class="input">
     <th mat-header-cell> Nome </th>
    </ng-container>
 
   <!-- Weight Column -->
   <ng-container matColumnDef="edit" class="input">
     <th mat-header-cell> Alterar </th>
   </ng-container>
   <ng-container matColumnDef="del" class="input">
    <th mat-header-cell> Remover </th>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *ngFor="let filme of filmes">
     <ng-container matColumnDef="symbol" class="input">
       <td mat-cell> {{filme.filmeId}} </td>
     </ng-container>
     <ng-container matColumnDef="name"  class="input">
       <td mat-cell> {{filme.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="alterar"  class="input">
       <td mat-cell> 
         <a mat-mini-fab color="primary" routerLink="/pages/filme/cadastrar/{{ filme.filmeId }}">
           <mat-icon>edit</mat-icon></a>  
       </td>
      </ng-container>
      <ng-container matColumnDef="deletar"  class="input">
        <td mat-cell> 
          <button mat-mini-fab color="warn" (click)="remover(filme.filmeId!)"> <mat-icon>delete</mat-icon></button>
        </td>
       </ng-container>
     
   </tr>
 </table>